* {
    margin: 2px;
}

.individual {
    background-color: bisque;
    height: 310px;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10%;
}

.individual .image img {
    padding: 20px;
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: 10%;
}

.individual .recipe-title {
    font-size: larger;
    font-weight: 800;
    margin-top: -22px;
}